extends layout

block content
    
      .row
        .col-md-6.slots-list-first
        .col-md-6.slots-list-second
          
    
      .row
        .col-md-12
            form(role='form', method='POST', action='/announcements')
            .container-fluid
              select#slot-day
                option(value=0)='Monday'
                option(value=6)='Tuesday'
                option(value=12)='Wednesday'
                option(value=18)='Thursday'
                option(value=24)='Friday'
              table.table.table-hover
                thead
                  tr
                    th
                      | Time Of the Announcement
                    th
                      | Announcement Guy Member 1
                    th
                      | Announcement Guy Member 2
                tbody#slots-table
                  tr#template
                    td
                      select.form-control.slot-time(name='time')
                        option(value='')='None'
                        option(value=1)='8 am to 9 am'
                        option(value=2)='9 am to 10 am'
                        option(value=3)='10 am to 11 am'
                        option(value=4)='11 am to 12 pm'
                        option(value=5)='12 pm to 1 pm'
                        option(value=31)='2 pm to 3 pm'
                        option(value=32)='3 pm to 4 pm'
                        option(value=33)='4 pm to 5 pm'
                        option(value=34)='5 pm to 6 pm'
                        option(value=35)='6 pm to 7 pm'
                    td
                      select.form-control(name='mem1')
                        option='None'
                        each val in data
                          option(value=val.reg_no)=val.name
                    td
                      select.form-control(name='mem2')
                        option='None'
                        each val in data
                          option(value=val.reg_no)=val.name
                  tr
                    td
                      select.form-control.slot-time(name='time')
                        option(value='')='None'
                        option(value=1)='8 am to 9 am'
                        option(value=2)='9 am to 10 am'
                        option(value=3)='10 am to 11 am'
                        option(value=4)='11 am to 12 pm'
                        option(value=5)='12 pm to 1 pm'
                        option(value=31)='2 pm to 3 pm'
                        option(value=32)='3 pm to 4 pm'
                        option(value=33)='4 pm to 5 pm'
                        option(value=34)='5 pm to 6 pm'
                        option(value=35)='6 pm to 7 pm'
                    td
                      select.form-control(name='mem1')
                        option='None'
                        each val in data
                          option(value=val.reg_no)=val.name
                    td
                      select.form-control(name='mem2')
                        option='None'
                        each val in data
                          option(value=val.reg_no)=val.name
                  tr
                    td
                      select.form-control.slot-time(name='time')
                        option(value='')='None'
                        option(value=1)='8 am to 9 am'
                        option(value=2)='9 am to 10 am'
                        option(value=3)='10 am to 11 am'
                        option(value=4)='11 am to 12 pm'
                        option(value=5)='12 pm to 1 pm'
                        option(value=31)='2 pm to 3 pm'
                        option(value=32)='3 pm to 4 pm'
                        option(value=33)='4 pm to 5 pm'
                        option(value=34)='5 pm to 6 pm'
                        option(value=35)='6 pm to 7 pm'
                    td
                      select.form-control(name='mem1')
                        option='None'
                        each val in data
                          option(value=val.reg_no)=val.name
                    td
                      select.form-control(name='mem2')
                        option='None'
                        each val in data
                          option(value=val.reg_no)=val.name
                  tr
                    td
                      select.form-control.slot-time(name='time')
                        option(value='')='None'
                        option(value=1)='8 am to 9 am'
                        option(value=2)='9 am to 10 am'
                        option(value=3)='10 am to 11 am'
                        option(value=4)='11 am to 12 pm'
                        option(value=5)='12 pm to 1 pm'
                        option(value=31)='2 pm to 3 pm'
                        option(value=32)='3 pm to 4 pm'
                        option(value=33)='4 pm to 5 pm'
                        option(value=34)='5 pm to 6 pm'
                        option(value=35)='6 pm to 7 pm'
                    td
                      select.form-control(name='mem1')
                        option='None'
                        each val in data
                          option(value=val.reg_no)=val.name
                    td
                      select.form-control(name='mem2')
                        option='None'
                        each val in data
                          option(value=val.reg_no)=val.name
                   
              a.btn.btn-primary.btn-default#add-slot(href='#', type='button') Add Duty
              input(type='submit') 
            
    script(src='/javascripts/getslots.js')
    
  


